name: CI/CD for Front Service (Docker)

on:
  push:
    branches: [ "main", "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: |
          chmod +x mvnw
          ./mvnw clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: onyune/gateway-server:v1  # docker-compose.yml에 적은 태그와 똑같이!

      - name: Deploy to School Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd /home/backend/be12-team2
            
            SERVICE_NAME="GATEWAY-SERVICE"
            CONTAINER_1="gateway-1"
            CONTAINER_2="gateway-2"
            EUREKA_URL="http://admin:admin1234@localhost:10437/eureka"

            docker compose pull $CONTAINER_1 $CONTAINER_2
            INSTANCE_ID="$SERVICE_NAME:$CONTAINER_1"
            curl -X PUT "$EUREKA_URL/apps/$SERVICE_NAME/$INSTANCE_ID/status?value=OUT_OF_SERVICE" || true
            
            sleep 35
            
            docker compose up -d $CONTAINER_1
     
            sleep 40 
            
            curl -X PUT "$EUREKA_URL/apps/$SERVICE_NAME/$INSTANCE_ID/status?value=UP" || true





            INSTANCE_ID_2="$SERVICE_NAME:$CONTAINER_2"
            curl -X PUT "$EUREKA_URL/apps/$SERVICE_NAME/$INSTANCE_ID_2/status?value=OUT_OF_SERVICE" || true
            sleep 35
            
            docker compose up -d $CONTAINER_2
            sleep 40
            curl -X PUT "$EUREKA_URL/apps/$SERVICE_NAME/$INSTANCE_ID_2/status?value=UP" || true

            docker image prune -f
